#container {
  position: relative;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  margin: 10px;
}

#container h1 {
  margin-top: 10px;
}

#container a {
  text-decoration: none;
}

.card {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.logo {
  height: 30px;
  margin: 20px
}

.details {
  color: #3880ff;
}

ion-button {
  margin-bottom: 10px;
}

ion-col {
  outline: 1px solid #d6d6d6;
}