<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Comunicare
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">

    <img class=logo slot="start" src="../../assets/img/comunicareLogo.png">

    <ion-card class="card">
      <ion-card-content>

        <ion-text>
          <h1>Prédiction du risque d’hospitalisation des patients positifs COVID-19</h1>
        </ion-text>
        
        <ion-item lines="full">
          <ion-input [(ngModel)]="ageField" placeholder="Âge*" type="number" min="1" max="120"></ion-input>
        </ion-item>
      
        <ion-list lines="full">
          <ion-item>
            <ion-label>Sexe*</ion-label>
            <ion-select [(ngModel)]="sexField" okText="Ok" cancelText="Annuler">
              <ion-select-option value="female">Femme</ion-select-option>
              <ion-select-option value="male">Homme</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list lines="full">
          <ion-item>
            <ion-label>Risque(s)*</ion-label>
            <ion-select [(ngModel)]="risksField" multiple="true" okText="Ok" cancelText="Annuler">
              <ion-select-option value="fr_diabete">Diabète</ion-select-option>
              <ion-select-option value="fr_maladie_cardiovasculaire">Maladie cardiovasculaire</ion-select-option>
              <ion-select-option value="fr_asthme">Asthme</ion-select-option>
              <ion-select-option value="fr_bpco">BPCO</ion-select-option>
              <ion-select-option value="fr_obese">Obésité</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list lines="full">
          <ion-item>
            <ion-label>Symptôme(s)*</ion-label>
            <ion-select [(ngModel)]="symptomsField" multiple="true" okText="Ok" cancelText="Annuler">
              <ion-select-option value="symp_fievre">Fièvre</ion-select-option>
              <ion-select-option value="symp_dyspnee">Difficultés respiratoires</ion-select-option>
              <ion-select-option value="symp_myalgies">Douleurs musculaires</ion-select-option>
              <ion-select-option value="symp_cephalees">Mal de tête</ion-select-option>
              <ion-select-option value="symp_toux">Toux</ion-select-option>
              <ion-select-option value="symp_digestifs">Troubles digestifs</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-text>
          <p>*Champs obligatoires</p>
        </ion-text>

        <ion-button (click)="callApi()">{{submit}}</ion-button>
      
        <ion-text *ngIf="resultData != null">
          <h1>Prédiction</h1>
          <h2>{{analyseResults()}}</h2>
          <p class="details" (click)="showDetails()">{{details ? "Moins de détails" : "Plus de détails"}}</p>
        </ion-text>
        
        <ion-grid *ngIf="resultData != null && details">
          <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
              Ambulatoire
            </ion-col>
            <ion-col>
              Hospitalisé
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Arbre à gradient renforcé
            </ion-col>
            <ion-col>
              {{resultData.GBTAmbulatoire + "%"}}
            </ion-col>
            <ion-col>
              {{resultData.GBTHospitalise + "%"}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Forêts aléatoires
            </ion-col>
            <ion-col>
              {{resultData.RFAmbulatoire + "%"}}
            </ion-col>
            <ion-col>
              {{resultData.RFHospitalise + "%"}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              Réseau neuronal
            </ion-col>
            <ion-col>
              {{resultData.NNAmbulatoire + "%"}}
            </ion-col>
            <ion-col>
              {{resultData.NNHospitalise + "%"}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
